.bio-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 30px auto;
}

.profile-picture-wrapper {
  flex: 1;
}

.bio-para-wrapper {
  flex: 3;
  border: 3px solid white;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}
