.bio-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 60px auto;
}

.profile-picture-wrapper {
  flex: 1;
}

.bio-para-wrapper {
  flex: 3;
  border: 3px solid var(--red);
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}

.bio-title {
  margin-right: 10%;
  font-size: 70px;
  color: var(--red);
  text-align: right;
  margin-top: 25px;
  line-height: 0.8;
}
