.bio-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.profile-picture-wrapper {
  flex: 1;
}

.profile-picture {
  width: 100%;
  border: 3px solid rgb(var(--pastelyellow));
  border-radius: 5px;
  opacity: 0.85;
}

.bio-text-wrapper {
  flex: 3;
  border: 3px solid rgb(var(--pastelpurple));
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}

.bio-text {
  color: rgb(255, 255, 255);
  line-height: 1.8;
  font-size: 18px;
}

.bio-title {
  width: 80%;
  font-size: 70px;
  color: rgb(var(--pastelpurple));
  text-align: right;
  margin: 175px auto 0 auto;
  line-height: 0.8;
}
