.index-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
}

.header-wrapper {
  justify-content: center;
  flex: 1;
  position: relative;
  width: 95%;
  border-bottom: 2px white solid;
  padding-bottom: 15px;
  margin: 10px auto 0 auto;
}

.header-text {
  color: white;
  line-height: 1;
  padding-bottom: 3px;
  display: table;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: auto;
}

.header-link-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-wrapper {
    padding: 15px 10px;
    border: none;
    margin: none;
  }
  .header-text {
    border-bottom: 3px solid rgb(var(--pastelblue));
    font-size: 55px;
  }

  .header-link-wrapper {
    margin-top: 25px;
  }
}
